* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    font-size: 2rem;
    color: #ff6347;
}

input {
    padding: 10px;
    margin: 20px 0;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.pokemon-card {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pokemon-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#pokemon-types {
    font-weight: bold;
}

#pokemon-stats {
    margin-top: 10px;
}

.pokemon-type {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    background-color: #ddd;
    display: inline-block;
}
